# git ps1
export PS1='\[\033[01;32m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[01;33m\]$(__git_ps1 " [%s]")$ \[\033[0m\]\[\033[00m\]'

# my bin :)
export PATH=$PATH:$HOME/bin

# vim as main editor
export EDITOR=vim

# necessary for wombat color scheme 
export TERM=xterm-256color
